body,button, input, select, textarea,h1 ,h2, h3, h4, h5, h6 ,{ 
    font-family: jf-openhuninn-1.1 , Roboto , Tahoma, Helvetica, Arial, "\5b8b\4f53", sans-serif;
}

.custom-color-yellow{
    color: #ECB356;
}
.custom-color-blue{
    color: #6AAAF8;
    ;
}